@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  font-family: "Outfit", sans-serif;
}
html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255, 17, 17, 0.5);
}
html::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background: #ff0000;
}

.app-bar {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* box-shadow: 0 0 10px rgba(25, 25, 25, 0.1); */
  z-index: 100;
}

.fixed {
  position: fixed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.app-bar img {
  width: 200px;
}

main {
  min-height: 100vh;
  padding: 1rem 10%;
}

main .news-list {
  /* background-color: #e90606; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

main .news-items {
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(25, 25, 25, 0.1);
  overflow: hidden;
}
main .news-items:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  transform: translateY(-5px);
}
main .news-list img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

main .news-items .content {
  padding: 10px;
  color: black;
}
main .news-items .content p {
  font-weight: bolder;
}
main .news-items .info {
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 10px;
  justify-content: space-between;
}

footer {
  /* background-color: #d9d9db; */
  padding: 10px;
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

  align-items: center;
  justify-content: center;
}
footer h4 {
  font-size: 1rem;
}

footer .heart {
  color: #e90606;
  margin: 0 0.3rem;
}
footer a {
  color: #e90606;
}

@media screen and (max-width: 968px) {
  main .news-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
